<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <form name="companyForm">
        <h1>Company Details</h1>
        <div>
            <div style="float:left">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            Sr no.
                        </td>
                        <td>
                            CompanyName
                        </td>
                        <td>
                            CEO
                        </td>
                        <td>
                            Country
                        </td>
                        <td>
                            FoundationYear
                        </td>
                        <td>
                            NoOfEmployee
                        </td>
                        <td colspan="2">
                            Action
                        </td>
                    </tr>
                    <tr data-ng-repeat="comp in Companies">

                        <td>
                            {{$index+1}}
                        </td>
                        <td>
                            {{comp.name}}
                        </td>
                        <td>
                            {{comp.ceo}}
                        </td>
                        <td>
                            {{comp.country}}
                        </td>
                        <td>
                            {{comp.foundationYear}}
                        </td>
                        <td>
                            {{comp.noOfEmployee}}
                        </td>
                        <td>
                            <input type="submit" id="Edit" value="Edit" data-ng-click="getCompany(comp)" />
                        </td>
                        <td>
                            <input type="submit" id="Delete" value="Delete" data-ng-click="deletecompany(comp)" />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="float:right">
                <table class="table table-bordered">

                    <tr>
                        <td>
                            Company Name
                            <input type="hidden" data-ng-model="Company.companyId" required />

                        </td>
                        <td>
                            <input type="text" data-ng-model="Company.name" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CEO
                        </td>
                        <td>
                            <input type="text" data-ng-model="Company.ceo" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Country
                        </td>
                        <td>
                            <input type="text" data-ng-model="Company.country" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FoundationYear
                        </td>
                        <td>
                            <input type="text" data-ng-model="Company.foundationYear" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            NoOfEmployee
                        </td>
                        <td>
                            <input type="text" data-ng-model="Company.noOfEmployee" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Save" data-ng-click="createCompany(Company)" data-ng-disabled="companyForm.user.$dirty && companyForm.user.$invalid ||                    companyForm.Company.name.$dirty && companyForm.Company.name.$invalid" />
                            <input type="submit" value="Update" data-ng-click="updateCompany(Company)" />
                            <input type="reset" value="Clear" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </form>
</body>
</html>
